<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Animal Page</title>
    <link rel="stylesheet" href="/static/ShelterApp.css">
</head>
<body>
    <article>
        <div class="rescue_info">
            <h2 class="rescue_name">Pet Rescue of Boston</h2>
            <div class="rescue_details">
                <h3>123 Main St, Boston MA &emsp; &ensp;  bostonrescue@gmail.com &emsp; &ensp; (999)-999-9999</h3>
            </div>
        </div>
        <form>
            <h2>Add a new animal to your shelter profile:</h2>
            <div class="row">
                <ul class="col">
                    <li>
                        <label for="name">Name:</label>
                        <input
                            type="text"
                            name="name"
                            id="name"
                        />
                    </li>
                    <li>
                        <fieldset>
                            <legend>Type:</legend>
                            <ul>
                                <li class="types">
                                    <input
                                        type="radio"
                                        id="dog"
                                        name="type"
                                        value="dog"
                                    />
                                    <label for="dog">Dog</label>
                                </li>
                                <li class="types">
                                    <input
                                        type="radio"
                                        id="cat"
                                        name="type"
                                        value="cat"
                                    />
                                    <label for="cat">Cat</label>
                                </li>
                                <li class="types">
                                    <input
                                        type="radio"
                                        id="other"
                                        name="type"
                                        value="other"
                                    />
                                    <label for="other">Other</label>
                                </li>
                                <li>
                                    <label for="other-specify">If other, please specify:</label>
                                    <input
                                        type="text"
                                        id="other-specify"
                                    />
                                </li>
                            </ul>
                        </fieldset>
                    </li>
                    <li>
                        <label>Breed:</label>
                        <select
                            name="breed"
                            id="breed"
                        >
                            <option value=''>Please select a breed</option>
                        </select>
                    </li>
                    <!-- Add disposition checkboxes here -->
                    <li>
                        <fieldset>
                            <legend>Availability:</legend>
                            <ul>
                                <!-- Add availability radio buttons here -->
                            </ul>
                        </fieldset>
                    </li>
                </ul>
                <ul class="col">
                    <li>
                        <legend for="description">Description:</legend>
                        <textarea
                            id="description"
                            name="description"
                            rows="10"
                            cols="50">
                        </textarea>
                    </li>
                    <li>
                        <legend for="news_blurb">News Blurb:</legend>
                        <textarea
                            id="news_blurb"
                            name="news_blurb"
                            rows="10"
                            cols="50">
                        </textarea>
                    </li>
                </ul>
            </div>
            <button type="submit" class="submit_button">Submit</button>
        </form>
    </article>
</body>
</html>
