<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelter Profile Page</title>
    <link rel="stylesheet" href="/static/ShelterApp.css">
</head>
<body>
    <article>
        <div class="rescue_info">
            <h2 class="rescue_name">Pet Rescue of Boston</h2>
            <div class="rescue_details">
                <h3>123 Main St, Boston MA &emsp; &ensp;  bostonrescue@gmail.com &emsp; &ensp; (999)-999-9999</h3>
            </div>
        </div>
        <div class="edit_buttons">
            <a href="/add-animal">
                <button class="edit_button">
                    <span class="button_content">Add new animal</span>
                </button>
            </a>
            <button class="edit_button">
                <span class="button_content">Edit Profile</span>
            </button>
            <button class="edit_button">
                <span class="button_content">Settings</span>
            </button>
        </div>
        <div class="content-buttons">
            <button class="page_button">Newsfeed</button>
            <button class="page_button">Available Pets</button>
            <button class="page_button">Recently Adopted</button>
            <button class="page_button">Messages</button>
        </div>
    </article>
</body>
</html>
