<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Match</title>
    <link rel="stylesheet" href="/static/ShelterApp.css">
</head>
<body>
    <header>
        <h1>Pet Match</h1>
    </header>
    <main>
        <Routes>
            <Route path="/" element={<ShelterProfilePage />} />
            <Route path="/add-animal" element={<AddNewAnimalPage />} />
        </Routes>
    </main>
</body>
</html>
