.App {
  text-align: center;
}

header {
  text-align: center;
  font-size: 24px;
}

main {
  text-align: center;
  overflow:auto;
  margin:-0.8%;
  padding:0.5em 1em 1em 0.5em;
}

table {
  margin: auto;
}

.rescue_info {
  background-color:rgb(193, 238, 180);
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
  padding: 1em;
  border-radius: 20px;
}

.rescue_name {
  color: black;
  font-size:32px;
}

.rescue_details {
  color: rgb(71, 102, 65)
}

button {
  margin-left:8em;
  margin-right:8em;
  border:0px;
  border-radius: 20px;
  padding:0.5em 1em 0.5em 1em;
  font-size: 16px;
}

.edit_button {
  background-color: rgb(214, 213, 213);
  color:rgb(73, 72, 72);
  margin-bottom:4em;
}

.edit_button:hover {
  background-color: rgb(97, 95, 95);
  color: rgb(214, 213, 213);
}

.page_button {
  background-color: rgb(88, 163, 73);
  color:white;
}

.page_button:hover {
  background-color: rgb(119, 194, 104);
  color:rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
