.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

header {
  text-align: center;
  font-size: 24px;
}

main {
  text-align: center;
  overflow:auto;
  margin:-0.8%;
  padding:0.5em 1em 1em 0.5em;
}

table {
  margin: auto;
}

.landing-title {
  color:white;
  font-size: 52px;
  margin-top:0;
}

.shelter-login-form {
  display: block;
  background-color: white;
  margin-left:420px;
  margin-right:420px;
  margin-top:200px;
  text-align:center;

}

.text-form {
  border: 1px solid black;
  width:256px; 
}

.shelter-login-button {
  margin:20px;
  
}

.text-label {padding:50px;}

.rescue_info {
  background-color:rgb(193, 238, 180, 0.8);
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
  padding: 1em;
  border-radius: 20px;
  text-align:center;
}

.rescue_name {
  color: black;
  font-size:32px;
}

.rescue_details {
  color: rgb(71, 102, 65)
}

button {
  margin-left:8em;
  margin-right:8em;
  border:0px;
  border-radius: 20px;
  padding:0.5em 1em 0.5em 1em;
  font-size: 16px;
}

.edit_button {
  background-color: rgb(214, 213, 213);
  color:rgb(73, 72, 72);
  margin-bottom:4em;
}

.edit_button:hover {
  background-color: rgb(97, 95, 95);
  color: rgb(214, 213, 213);
}

.page_button {
  background-color: rgb(88, 163, 73);
  color:white;
}

.button_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit_buttons {
  display:flex;
  align-items: center;
  justify-content: center;
}

.content_buttons {
  display:flex;
  align-items: center;
  justify-content: center;
}

.page_button:hover {
  background-color: rgb(119, 194, 104);
  color:rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

form {
  display: inline-block;
  /* padding: 1em; */
  border: 1px solid #ccc !important;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

form li + li {
  margin-top: 1.5em;
  text-align: left;
}

.dispositions, .availabilities, .types{
  margin-top:0.5em;
}

.image-section {
  padding-right:50px;
}

label {
  /* Uniform size & alignment */
  /* display: inline-block; */
  min-width: 90px;
  text-align: left;
  padding-right: 10px;
}

.row, .forms {
  overflow: hidden;
  padding-left: 1.5em;
  align-items: center;
  display: flex;
  justify-content: center;
  /* padding: 10px; */
}

.col {
  float: left;
  margin-top:1.5em;
  margin-bottom:1.5em;
  margin-right: 1.5em;
  /* width: 50% */
}
.submit_button:hover {
  background-color:rgb(172, 168, 168);
}

.urls-images {
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items:start;
}

.pet-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.pet-column {
  flex: 25%;
  max-width: 25%;
  padding-bottom: 6px;
}

.pet-image {
  margin-top: 6px;
  vertical-align: middle;
  width:100%;
  height:325px;
}

.pet-image:hover {
  opacity: 0.5;
}

.pet-figure {
  background-color: white;
  padding-left:15px;
  padding-right: 15px;
  padding-top:15px;
  padding-bottom:15px;
  text-align: center;
}

.pet-figure-name {
  font-weight: bold;
  font-size: 28px;
}

.pet-figure-details {
  font-size: 20px;
}

.pets-background {
  width: 100%;
  height: 100vh;
  background-image: url('pets.jpg');
  background-position: center;
  background-size: cover;
  padding-top:28px;
  position: relative;
}

.shelter-pets-title {
  color:white;
  text-align:center;
  font-size: 50px;
  margin:0%;
  padding:15px;
}

.edit-profile-form {
  background-color: white;
  margin-left:40%;
  padding-right:50px;
}

.pet-details-row {
  overflow: hidden;
  padding-left: 100px;
  /* align-items: center; */
  display: flex;
  justify-content: center;
  margin-right:50px;;
  /* padding: 10px; */
}

.pet-details-col {
  float: right;
  margin-top:1.5em;
  margin-bottom:1.5em;
  width:40%
}

.pet-details-name {
  font-size: 40px;
  font-weight: bold;
  margin-bottom:24px;
}

.pet-detail-image {
  margin-right:100px;
  max-width:85%;
}

.pet-details-description {
  margin-bottom:50px;
}

.pet-details {
  margin-right:30%;
  font-size:20px;
  background-color: #b3daa4;
  padding:10px;
  border-radius: 20px;
}

.pet-detail {
  margin-bottom:8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

