*{
    margin: 0;
    padding: 0;
    font-family: 'Ariel', sans-serif;
    box-sizing: border-box;

}

.background{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, rgba(243, 183, 218, 0.8), rgba(243, 183, 218, 0.8)) ,url('pets.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.signup{
   width: 90%;
   max-width: 450px;
   top: 15%;
   left: 35%;
   position: absolute;
   align-items: center;
   background: white;
   padding: 50px 60px 70px;
   text-align: center;
}

.signup h1{
    font-size: 25px;
    margin-bottom: 40px;
    color: rgb(65, 62, 63);
    position: relative;
}

.container{
    height: 250px;
}

.user-info{
    background-color: rgb(202, 202, 202);
    display: flex;
    align-items: center;
    margin: 20px;
    border-radius: 10px;

}

input{
    background: transparent;
    width: 100%;
    padding: 20px;
    border: 0;
}

.user-info i{
    margin-left: 10px;
    color: grey;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 75px;


}

.button-container button{
    background-color: rgb(202, 202, 202);
    color:  rgb(65, 62, 63);
    border: 0;
    height: 50px;
    border-radius: 10px;
    flex-basis: 60%;
    
    
    
   
}

.createbutton:hover{
    background: rgba(243, 183, 218);
    color:  rgb(65, 62, 63);
    
}

.redirect{
    color:  rgb(65, 62, 63);
    font-size: medium;
    text-align: center;
}

.redirect:hover{
    color: rgba(243, 183, 218);
}